* {
	font-family: Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px
}

.container {
    width: 80%;
    margin: 0 auto;
    float: unset;
}

header {
    background: #fff;
    border-bottom: solid 1px #BABABA;
    float: center;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    font-size: 27px;
    font-weight: 1000;
    letter-spacing: 5px;
    color: #fff;
    background: #3F3F42;
    padding-left: 4px;
    line-height: 27px;
    margin-top: 6px;
    margin-right: 0%;
    margin-left: 3.2%;
}

.nav {
    float: right;
    width: 90%;

}

.nav__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    float: center;
}

.nav__ul li {
    display: inline-block;
    position: relative;
    padding: 12px 0px 7px 0px;
    border-left: solid 1px #BABABA;
}

.nav a {
    color: #3F3F42;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
    text-align: center;
}

.fas fa-user-circle {
    margin-right: 5px;
}

#user a {
    padding-right: 100px;
}

#user i {
    display: inline-block;
    font-size: 15px;
    padding-right: 5px;
}

#search p {
    display: inline-block;
    color: #3F3F42;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;
}

#search {
    border-right: solid 1px #BABABA;
}

#search i {
    font-size: 13px;
    padding-right: 5px;
}

#search a {
    padding-right: 10px;
}



/*HOVER EFFECTS-----------------------------------------------------*/

.nav__ul li::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #006def;
    position: inherit;
    top: 7px;
}

.nav__ul li:hover::after {
    width: auto;
}


#home::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #007BC7;
    position: inherit;
    top: 7px;
}

#home:hover::after {
    width: auto;
}

#about::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #FFD230;
    position: inherit;
    top: 7px;
}

#about:hover::after {
    width: auto;
}

#news::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #BB1919;
    position: inherit;
    top: 7px;
}

#news:hover::after {
    width: auto;
}


#sport::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #FFD230;
    position: inherit;
    top: 7px;
}

#sport:hover::after {
    width: auto;
}

#reel::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #006def;
    position: inherit;
    top: 7px;
}

#reel:hover::after {
    width: auto;
}

#worklife::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #0052A1;
    position: inherit;
    top: 7px;
}

#worklife:hover::after {
    width: auto;
}

#travel::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #589E50;
    position: inherit;
    top: 7px;
}

#travel:hover::after {
    width: auto;
}

#future::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #482878;
    position: inherit;
    top: 7px;
}

#future:hover::after {
    width: auto;
}

#more::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #3F3F42;
    position: inherit;
    top: 7px;
}

#more:hover::after {
    width: auto;
}

#search::after {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background-color: #3F3F42;
    position: inherit;
    top: 7px;
}

#search:hover::after {
    width: auto;
}

/**/

/*SECOND HEADER-----------------------------------------------------*/

#second-header {
    background-color: #B80000;
}

.container2 {
    width: 75%;
    margin: 0 auto;
    float: unset;
    background-color: #B80000;
}

.container2 p {
    font-size: 42px;
    color: #fff;
    padding: 13px 0px;
}



/*THIRD HEADER-----------------------------------------------------*/

#third-header {
    background-color: #B80000;
    float: center;
    border: none;
}

.container3 {
    width: 75%;
    margin: 0 auto;
    float: unset;
}

#nav2 {
    float: right;
    width: 100.7%;

}

.nav__ul2 {
    margin: 0;
    padding: 0;
    list-style: none;
    float: center;
    font-size: 0;
}

.nav__ul2 li {
    display: inline-block;
    position: relative;
    padding: 10px 0px 5px 0px;
    text-align: center;
}

#nav2 a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 4px 10px 0px 10px;
    text-align: center;
    border-left: solid 1px #BABABA;
}

#home2 a {
    border: none;
}

.more2 a {
    border:none !important;
}

#nav2 .more2 {
    border-left: solid 1px #BABABA;
    float: right;
    padding-right: 10px;
}
    


/*HOVER EFFECTS-----------------------------------------------------*/

.nav__ul2 li::after {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #fff;
    position:inherit;
    top: 5px;
}

.nav__ul2 li:hover::after {
    width: auto;
}




/*
.nav {
    background: #FFFFFF;
    border-bottom: 1px solid #BABABA;
    color: #3F3F42;
}

#topnav-logo p {
    background-color: black;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    padding: 15px;
    float: left;
    margin-top: 1.5px;
}

#topnav-logo {
    margin-left: 200px;
    margin-right: 200px;
}

.nav__ul li {
    display: inline-block;
    padding: 9px;
    font-size: 5px;
    margin-top: 10px;
    height: 35px;
}

.nav__ul a {
    text-decoration: none;
    font-size: 16px;
}

